.formWrapper {
  width: 800px;
  margin: 0 auto;
  color: var(--mainColor);
  padding: 10px;
}
.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 70px;
}
#writeTitle {
  width: 550px;
}
#writePasswrd,
#writePasswrd2 {
  width: 380px;
}
input {
  outline: none;
  padding: 5px 10px;
  border-color: var(--subColor);
  background-color: antiquewhite;
  border-style: solid;
}
#desc {
  outline: none;
  border: 2px solid var(--subColor);
  background-color: antiquewhite;
  width: 100%;
  height: 600px;
  padding: 10px;
  resize: none;
}
.btnWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.btnWrapper button {
  margin: 0 auto;
  border: 2px solid var(--subColor);
  color: var(--mainColor);
  padding: 15px 20px;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}
.btnWrapper button:hover {
  background-color: var(--mainColor);
  border-color: var(--mainColor);
  color: wheat;
}
