:root {
  --mainColor: rgba(95, 60, 6);
  --subColor: rgba(143, 124, 99);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Arial", sans-serif;
  line-height: 1.5;
}
body {
  background-color: rgba(190, 163, 131, 0.5);
}
a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input,
textarea,
button {
  font: inherit;
}
