.border {
  border-bottom: 1px solid var(--mainColor);
  margin-bottom: 20px;
}
.wrapper {
  width: 800px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
}

a {
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
  padding: 14px 20px;
  border-radius: 1000px;
  transition: all 0.15s ease-in-out;
  margin: 0;
  margin-right: 30px;
}

a:hover {
  background-color: var(--mainColor);
  color: white;
}
